@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    background: #CDCDCD;
}

.sideNavbar {
    width: 15vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

.mainBody {
    position: absolute;
    top: 0;
    left: 15vw;
    width: calc(100vw - 15vw);
}

.container {
    width: 100%;
}